#root {
  background-color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
}

#root > * {
  align-self: stretch;
}

.banner {
  background-color: #3f3f3f;
  background-image: url("./assets/StockSnap_AWJD4WV6W1.jpg");
  background-size: cover;
  background-position: center;

  margin: 0;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
  color: #fff;
  font-family: "Dancing Script", fantasy;
  text-shadow: 0 0 1em #000;
}

main {
  background-image: url("./assets/girl_sunset.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 40em;

  font-size: medium;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 30px;
}

.product-card {
  background-color: white;
  width: 198px;
  transition: background-color 0.3s ease;
}

.product-card > * {
  margin: 0px;
}

.product-card:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.header {
 position: relative;
}

.cart-icon {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  color: white;
}

.cart-icon:hover + .shopping-cart {
  display: block;
}

.shopping-cart {
  position: absolute;
  top: 140px;
  right: 25px;
  background-color: #ccc;
  display: none;
}

.shopping-cart:hover {
  display: block;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
}

.search-button {
  background-color: #e7edf4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 250px; 
  height: 40px; 
  margin-top: 20px;
}

.search-button:hover {
  background-color: #dbe0e6;
  height: 40px;
  margin-top: 20px;
}
